@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  color:white;
  font-family: 'Heebo Regular', sans-serif;
  background-color:#1c2333;
}
input {font-size: 20px}
.title {font-size: 30px}

.leaderboard {
  background-color:white;
  font-size: 40px;
  color: black;
  width: 400px;
  box-shadow: rgb(127 127 127 / 82%) 0px 48px 100px 0px;
  outline-style: outset;
  outline-color: gray;
}


input[type=text] {
  padding: 0 30px;
	font-size: 18px;
	width: 60%;
	max-width: 400px;
	height: 80px;
	border: 1px solid darken(white, 30%);
	border-radius: 20px 20 20 20px;
  box-shadow: #000000 0px 48px 100px 0px;
  outline-style: outset;
  outline-color: #2b354d;
}

label {
  width: 170px;
  display: inline-block;
  text-align: right;
}

.button {
  outline-style: outset;
  outline-color: #1c2333;
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  box-shadow: #000000 0px 48px 100px 0px;
}

.button:hover,
.button:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button:hover {
  transform: translateY(-1px);
}

.button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

* {
  transition: all .2s ease;
}

a.info {
  vertical-align: bottom;
  position:relative; /* Anything but static */
  width: 1.5em;
  height: 1.5em;
  text-indent: -9999em;
  display: inline-block;
  color: white;
  font-weight:bold;
  font-size:1em;
  line-height:1em;
  background-color: #91b2d2;
  margin-left: .25em;
  -webkit-border-radius:.75em;
  -moz-border-radius:.75em;
  border-radius:.75em;
}
a.info:hover {
  background-color:#628cb6;
  cursor: hand; 
  cursor: pointer;
}
a.info:before {
  content:"?";
  position: absolute;
  top: .25em;
  left:0;
  text-indent: 0;
  display:block;
  width:1.5em;
  text-align:center;
}

.popover-title {
  font-weight:bold;
}


label a.info, 
label div.popover.fade.in { 
  opacity: 100;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
label:hover a.info, 
label:hover div.popover.fade.in { 
  opacity: 1; }


.anim {

-webkit-animation:bounce-in 1s ease 0s 1 normal;

-moz-animation:bounce-in 1s ease 0s 1 normal;

-ms-animation:bounce-in 1s ease 0s 1 normal;

animation:bounce-in 1s ease 0s 1 normal;

}


@-webkit-keyframes bounce-in {

0%{ opacity: 0; -webkit-transform: scale(.3); transform: scale(.3); }

50%{ opacity: 1; -webkit-transform: scale(1.0); transform: scale(1.0); }

70%{ -webkit-transform: scale(0.9); transform: scale(0.9); }

100%{ -webkit-transform: scale(1); transform: scale(1); }

}


@keyframes bounce-in {

0%{ opacity: 0; transform: scale(.3); }

50%{ opacity: 1; transform: scale(1.0); }

70%{ transform: scale(0.9); }

100%{ transform: scale(1); }

}